<head>
    {% if page.title %}
        <title>{{ page.title }} | Test Page</title>
    {% else %}
        <title>Test Page: Don't Panic</title>
    {% endif %}

    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% else %}
        <meta name="description" content="This is a dangerous site.">
    {% endif %}

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>